{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": [
      "./tsconfig.json",
      "./tsconfig.prod.json"
    ]
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "no-inner-declarations": "off",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "semi": [2, "always"]
  },
  "overrides": [
    {
      "files": ["**/*.test.ts"],
      "rules": {
        "@typescript-eslint/no-unused-vars": [
          "error",
          { "ignoreRestSiblings": true, "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }
        ]
      }
    },
    {
      "files": ["**/*.json"],
      "rules": {
        "semi": "off"
      }
    }
  ],
  "ignorePatterns": [
    "**/*.js"
  ]
}
