@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html,
#root {
  height: 100%;
  width: 100%;
  margin: 0px;
}
