name: Build Api Specification

on:
  workflow_call:

jobs:
  build:
    name: Build API Specifications
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'yarn'
          cache-dependency-path: api-specifications/yarn.lock
      - name: Install dependencies
        run: yarn install
        working-directory: api-specifications
      - name: Check Format
        run: yarn run format:check
        working-directory: api-specifications
      - name: Lint
        run: yarn run lint
        working-directory: api-specifications
      - name: Build
        run: yarn run compile
        working-directory: api-specifications
      - name: Test
        run: yarn run test
        working-directory: api-specifications
      - name: Archive code coverage results
        uses: actions/upload-artifact@v4
        with:
          name: api-specifications.lcov.info
          path: api-specifications/coverage/lcov.info
          retention-days: 1
