name: Deploy Backend

on:
  workflow_call:
    inputs:
      target-environment:
        required: true
        type: string
      target-domain-name:
        required: true
        type: string
      version-info:
        required: true
        type: string
      user-pool-id:
        required: true
        type: string
      user-pool-client-id:
        required: true
        type: string
      sentry-backend-dsn:
        required: true
        type: string
    outputs:
      backedRestApiURLBase:
        description: "The backend api url"
        value: ${{ jobs.deploy.outputs.backedRestApiURLBase }}
      resourcesBaseUrl:
        description: "The resources base url"
        value: ${{ jobs.deploy.outputs.resourcesBaseUrl }}

jobs:
  deploy:
    name: Deploy Backend
    runs-on: ubuntu-latest
    environment: ${{ inputs.target-environment }}
    outputs:
      backedRestApiURLBase: ${{ steps.pulumi.outputs.backedRestApiURLBase }}
      resourcesBaseUrl: ${{ steps.pulumi.outputs.resourcesBaseUrl }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'yarn'
          cache-dependency-path: iac/yarn.lock
      - name: Install dependencies
        run: yarn install
        working-directory: iac
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1
          role-duration-seconds: 1200
          role-session-name: MySessionName
      - name: Download backend.build.folder
        uses: actions/download-artifact@v4
        with:
          name: backend.build.folder
          path: backend/build/
      - name: Deploy backend
        id: pulumi
        uses: pulumi/actions@v5
        with:
          work-dir: iac/backend
          command: up
          stack-name: tabiya-tech/taxonomy-model-application-backend/${{ inputs.target-environment }}
        env:
          TARGET_ENVIRONMENT: ${{ inputs.target-environment }}
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
          MONGODB_URI: ${{ secrets.MONGODB_URI }}
          AUTH_DATABASE_URI: ${{ secrets.AUTH_DATABASE_URI }}
          DOMAIN_NAME: ${{ inputs.target-domain-name }}
          USER_POOL_ID: ${{ inputs.user-pool-id }}
          USER_POOL_CLIENT_ID: ${{ inputs.user-pool-client-id }}
          SENTRY_BACKEND_DSN: ${{ inputs.sentry-backend-dsn }}
